<!DOCTYPE html>
<html lang="en">
<!-- TAPS para hacer funcionar el service worker-->
{% load pwa %}
{% progressive_web_app_meta %}

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link href="{% static 'core/css/estilos_floreria.css' %}" type="text/css" rel="stylesheet">
    <title>
        {% block titulo %} 
        
        {% endblock titulo %}
    </title>

    <!-- The core Firebase JS SDK is always required and must be listed first
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script> -->
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-app.js"></script> 
    

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-analytics.js"></script>

    <script>
    // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyAZvhbLJXBd2UqT23ib92MpsWnU7FL4_s8",
            authDomain: "floreria-petalos.firebaseapp.com",
            databaseURL: "https://floreria-petalos.firebaseio.com",
            projectId: "floreria-petalos",
            storageBucket: "floreria-petalos.appspot.com",
            messagingSenderId: "544171637408",
            appId: "1:544171637408:web:981f0b0840b4a56b9fe7c5",
            measurementId: "G-F97TZJEKSX"
        };
        // Initialize Firebase ----------------------------------------------
        firebase.initializeApp(firebaseConfig);
        //firebase.analytics();

        let messaging = firebase.messaging();

        //enlazar serviceworker para que firebase sepa que yo tengo uno propio y no lo sorbreescriba
        navigator.serviceworker
        .register('myProyecto/serviceworker.js')
        .then(function(register){
            messaging.useServiceWorker(register); //registramos nuestro serviceWorker en firebase

            //Preguntar al usuario si quiere recibir notificaciones push
            messaging.requestPermission()
            .then(function(){ //acepta
                console.log("El usuario ha aceptado recibir notificaciones")
                return messaging.getToken(); //se conecta a Firefox y obtener un token para éste usuario
            })
            .then(function(token){
                console.log(token);

                //enviaremos el token hacia django para guardar en la BD
                fetch('guardar-token/',{
                    methosd: 'post',
                    headers: {
                        'Content-Type':'application/json',
                        'Accept':'application/json'
                    },
                    body: JSON.stringify({
                        'token':token
                    })
                })
                .then(function(resultado){
                    console.log("Se ha guardado el Token")
                })
                .catch(function(ero){
                    console.log("No se ha podido guardar el Token")
                })

            })

            .catch(function(ex){ //no acepta
                console.log("El usuario no desea recibir notificaciones")
            }) 
        })

        //Codificación de la recepción de las notificaciones push
        messaging.onMessage(function(payload){
            let data = payload;
            let title = payload.notification.title;

            let options = {
                body: ayload.notification.body,
                icon: ayload.notification.icon
            }

            let mensaje = new Notification(title, options);
        })

    </script>
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-dark bg-dark">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="{% static 'core/img/lirio_flor.jpg' %}" width="100px" heigth="120px" class="rounded-pill">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="{% url 'HOME' %}">HOME</a>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'NOSOTROS' %}">NOSOTROS
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'GALE' %}">GALERIA
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'CARRITO' %}">CARRO DE COMPRAS
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'FORMU' %}">FORMULARIO PRODUCTOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Usuario: {{ user.username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'CERRAR_SESION' %}">LOGOUT<a>
                        </li>
                        {% endif %}
                    </ul>                    
                </div>
            </nav>
        </nav>
    </header>
    <section>
        {% block contenido %} 
        
        {% endblock contenido %}
    </section>
        <script src="{% static 'core/js/jquery.js' %}"></script>
</body>

</html>