{% extends "core/base.html" %} {% block titulo %} Ingreso de Productos {% endblock titulo %} 
{% block contenido %}
<h1>Formulario Ingreso de Productos</h1>
<div class="formulario_productos">
    <center>
    <form class="form-group col-sm-6" name="formulario_productos" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        
            <br><table>
                <tr>
                    <td><h5>Nombre:</h5></td>
                    <td>
                        <input type="text" class="form-control-sm" name="txtNombreFlor">
                    </td>
                </tr>
                <tr>
                    <td><h5>Valor:</h5></td>
                    <td>
                        <input type="number" class="form-control-sm" name="txtValor">
                    </td>
                </tr>
                <tr>
                    <td><h5>Cantidad:</h5></td>
                    <td>
                        <input type="number" class="form-control-sm" name="txtStock">
                    </td>
                </tr>
                <tr>
                    <td><h5>Descripción:</h5></td>
                    <td>
                        <textarea name="txtDescripcion" class="form-control"></textarea>
                    </td>
                </tr>
                <tr>
                    <td><h5>Estado:</h5></td>
                    <td>
                        <select name="cboEstado" class="form-control-sm">
                            {% for datos in lista %}
                            <option>{{datos.name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><h5>Seleccione Imagen:</h5></td>
                    <td>
                        <input type="file" class="form-control-sm" name="txtImagen">
                    </td>
                </tr>
                
            </table>
            
        <br><button type="submit" class="btn btn-primary">Grabar</button>
    </form>
    </center>
    {% if sw %}
    <script>
        setTimeout(function() {
            document.getElementById("mensaje").innerHTML = ''
        }, 2000)
    </script>
    <div id="mensaje">
        <b>{{msg}}</b>
    </div>

    {% endif %}
</div>
{% endblock contenido %}