{% extends "core/base.html" %}
{% block titulo %} Galeria de Productos - Florería Pétalos
{% endblock titulo %}
{% load static %}

{% block contenido %}

<!-- sector del menu -->
<div>
    <center><h2>{{msg}}</h2></center>
</div>
<br>
    <u><h1>Catálogo de Productos</h1></u>

    {% for f in listaflores %}
    <div class="producto">
        <h3>{{f.name}}</h3>
        <img src="{{ f.foto.url }}" class="rounded-lg">
        <p>{{f.descripcion}}</p>
        <b><h4>Precio: ${{f.valor}}</h3></b>
        <p>Stock:{{f.stock}}</p>
        <p>{{f.estado}}</p>
        <div class="producto2">
            <a href="{% url 'ELIMINAR' f.name %}">Eliminar Producto</a>
        </div>
        <div  class="producto3">
            <a href="{% url 'AGREGAR_CARRO' f.name %}">Agregar al Carro</a>
        </div>
    </div>

    {% endfor %}

{% endblock contenido %}